# Python
__pycache__/
*.pyc

# Virtual Environment
venv/
.venv/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Models
models/

# Training checkpoints
checkpoints/

# Datasets
data/raw/


# OS files
Thumbs.db
.DS_Store