# Python
__pycache__/
*.pyc

# Virtual environment
venv/
.env

# Dataset
data/raw/
data/processed/

# Trained models
models/

# Hugging Face checkpoints
bert_results/
checkpoints/

# OS files
.DS_Store
Thumbs.db